ion-content{
    --ion-background-color: #FFF;
  }
  
  
  ion-item{
    --ion-background-color:#F8F8F8;
    padding-bottom:10px;
    // border-radius: 5px 5px;
  }
  
  ion-button {
    --background:#6fa833;
  }