ion-content{
    --ion-background-color: #F8F8F8;
  }
  
  
  ion-item{
    --ion-background-color:#fff;
    padding-bottom:10px;
  }

  .footer_color{
    background-color:#6fa833 !important;
    // color:white;    
}

ion-button {
  --color	:#FFF;
  --background: #6fa833
}