<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button (click)="backToHome()" defaultHref="/home/tabs/categories"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Merchant Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="my-grid">
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row class="parent-row">
      <ion-col style="border-radius: 10px 10px;background-color: #fff;" size="12">
        <ion-item style="--background: #fff;padding-top: 15px;" lines="none">
          <img style="width:50%;margin:0 auto" src="assets/images/applogo.png" alt="" />
        </ion-item>
        <ion-item style="--padding-top:15px;--background: #fff;" lines="none">
          <h3 style="text-align:center;color:#191919;margin:auto">
            Grocery at your doorstep
          </h3>
        </ion-item>
        <ion-item style="--background: #f2f2f2;padding: 0px 20px 0px 20px;" lines="none">
          <ion-input #input type="tel" appBlockCopyPaste placeholder="Enter your phone number" 
          [(ngModel)]="phoneNumber" maxlength="10" (keypress)="numberOnly($event)">
          </ion-input>
        </ion-item>
        <ion-item lines="none" style="--padding-top:15px;--background: #fff;--padding-bottom: 20px;">
          <button type="submit" [ngClass]="{'login-button-enabled': phoneNumber?.length == 10, 'login-button-disabled':phoneNumber?.length != 10 }"
            (click)="login(phoneNumber)">
            Login</button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>