.address-button-enabled {
    // height: 42px;
    // width: 78px;
    // margin-left: 18px;
    --background:#6fa833 !important;
    --color:white;
    // font-size: 17px;
  }
  
  .address-button-disabled {
    // height: 42px;
    // width: 78px;
    // margin-left: 18px;
    --background: #d0e9b6 !important;
    // color: #fff;
    --color: #000;
    // font-size: 17px;
  }