.footer_color{
    background-color:#6fa833 !important;
    color:white
}

.no-padding {
    padding: 0px !important;
}

.footer_color{
    background-color:#6fa833 !important;
    color:white
}

.close-fake {
    --background: transparent;
    ion-icon {
        font-size:2rem;
    }
    margin-top: 40px;
}

ion-content {
    --background: rgba(44, 39, 45, 0.84);
    // height: 100%
}

ion-slides {
    height: 70%
}