<ion-header>
  <ion-toolbar>
    <ion-title>Order Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="backToHome()" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div>
    <ion-grid style="padding-left:5px;padding-top:5px;margin-top: 8px;background-color: #fff;">
      <ion-row>
        <ion-col size-md="8" offset-md="2" class="ion-text-center" *ngIf="isLoading">
          <ion-spinner color="primary"></ion-spinner>
        </ion-col>
      </ion-row>
      <div *ngIf="!isLoading">
        <ion-row *ngIf="orderInfo?.order_id">
          <ion-col size="6" class="orderrowstyles">
            Order Id
          </ion-col>
          <ion-col size="6">
            {{orderInfo?.order_id}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="orderInfo?.store_name">
          <ion-col size="6" class="orderrowstyles">
            Store Name
          </ion-col>
          <ion-col size="6">
            {{orderInfo?.store_name}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="orderInfo?.order_status">
          <ion-col size="6" class="orderrowstyles">
            Order Status
          </ion-col>
          <ion-col size="6">
            <span>{{orderInfo?.order_status_type}}</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="orderInfo?.order_placing_date">
          <ion-col size="6" class="orderrowstyles">
            Order Date
          </ion-col>
          <ion-col size="6">
            {{orderInfo?.order_placing_date| date: "dd/MM/yyyy"}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="orderInfo?.order_amount">
          <ion-col size="6" class="orderrowstyles">
            Products Amount
          </ion-col>
          <ion-col size="6">
            &#8377; {{orderInfo?.order_amount}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="orderInfo?.bill_amount">
          <ion-col size="6" class="orderrowstyles">
            Bill Amount
          </ion-col>
          <ion-col size="6">
            &#8377; {{orderInfo?.bill_amount}}
          </ion-col>
        </ion-row>
      </div>
      <hr/>
      <ion-item-divider *ngIf="orderInfo?.products && !isLoading" style="font-weight:bold;
            color: black;">
        <span>Items of your order</span>
        <span *ngIf="orderInfo?.bill_image_url" (click)="viewBill(orderInfo?.bill_image_url)" 
        style="margin-left: 60px;text-decoration: underline;color:green">View Bill</span>
      </ion-item-divider>
      <div *ngIf="orderInfo?.products && !isLoading">
        <ion-list style="
        background-color: #fff;">
          <ion-item *ngFor="let item of orderInfo?.products">
            <ion-thumbnail slot="start">
              <ion-img *ngIf="item?.product_image_url" [src]="item.product_image_url"></ion-img>
              <ion-img *ngIf="!item?.product_image_url" src="assets/images/default_image.jpg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{item?.product_name}}</h2>
              <p>
                Weight : {{item?.weight}}{{item?.weight_text}}
              </p>
              <p>
                Quantity : {{item?.quantity_buyed}}
              </p>
              <p style="font-weight:bold" class="ion-text-wrap">Price : &#8377; {{item?.store_selling_price}} x {{item?.quantity_buyed}} = &#8377; {{item?.store_selling_price
                * item?.quantity_buyed| number : '1.2-2'}}</p>
              <p>
            </ion-label>
          </ion-item>
          <hr/>

        </ion-list>
      </div>
    </ion-grid>

    <hr/>

  </div>

</ion-content>